<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

  <div>  
    
    <%- include('nav.ejs') %>

    <form class="form-box" action="/add" method="POST"> <!--전송버튼을 눌렀을 때, action의 URL로 서버에 POST 요청이 감-->
      <h4>글쓰기</h4>
      <input name="title">
      <input name="content">
      <button type="submit">전송</button>
    </form> 
    
  </div> 

</body>
</html>